body {
  background: #000;
  text-align: center;
  color: #fff;
  font-family: Verdana;
}

p {
  font-size: 21px;
  color: gray;
}

/*** Main ****/

h1 {
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 40px;
}

.link {
  font-size: 16px;
  color: Aquamarine;

}

video {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/**** Support-1 ****/

.support-1 {
  margin-bottom: 40px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 40px;
}

.camp {
  margin-top: 20px;
}
 /**** Footer *****/

 .footer p {
   text-align: right;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-right: 10px;
 }
