body {
  background: #000;
  text-align: center;
  color: #fff;
  font-family: Verdana;
}

/*** Main ****/

h1 {
  font-weight: normal;
  font-size: 50px;
}

.link {
  font-size: 16px;
  color: Aquamarine;
}

video {
  display: block;
  margin: 0 auto;
}
